/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');



/*---------------common style---------------- */
body{font-family: 'Poppins', sans-serif;}





/*////////////////////////
common style end and Heading area style atarted
-------------------------------------------------*/
header{
  width: 100%;
  height: 677px;
  display: grid;
  justify-content: center;
}

nav{
  width: 1160px;
  height: 44px;
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
 
}
nav li{
  list-style: none;
  margin: 0px 10px;
  font-size: 15px;
}
nav li a {
  text-decoration: none;
  color: white ;
}

.header-item{
  width: 1440px;
  height: 677px;
  background-color: rgb(2, 105, 2);
  padding-left: 100px;
  padding-right: 142px;
}

.fa-sign-out-alt{
  margin-right: 15px;
}

.login{color: white;
  width: 123px;
  height: 44px;
  border:6px red;
  margin-right: 15px;
  border-radius: 20px ;
  background-color: rgba(255, 0, 0, 0.653);
  display: flex;
  justify-content: center;
  align-items: center;
  }
   
.front-item{
  display: flex;
  width: 100%;
  justify-content:space-between;
  color: aliceblue;
  margin-top: 67px; 
}

.front-item img{display: flex;
  width: 556.01px;
  height: 438px;
}

h1{
  font-size: 60px;
  font-weight: bold;
  width: 485px;
  height: 230px;}
h1:hover{
  color: yellow;
}

.fa-arrow-right{
  margin-left:15px;
}
@keyframes sliding{
  from{
    background-color: tomato;
    

}
to{
  background-color: brown;
 
}

}
.live{ 
  width: 168px;
  height: 44px;
  border:6px red;
  margin-right: 15px;
  border-radius: 20px ;
  background-color: rgba(255, 0, 0, 0.653);
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  transform: translate(50px50px) scale(0.5);
  animation:sliding 1s ease-in 0.5s infinite alternate ;
  animation-play-state: running;
  }
  .live:hover{
    font-weight: 800px; 
    background-color: green;
    color: red;
  }

  /*/////////////////////////
  Heading section style finished and Main section style stared
  ---------------------------------------*/

main{display:grid;
  justify-content: center;
  margin-top: 70px;
}

.container{
  width: 1055px;
  height: 1987px;
}
  
.top-players{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-row-gap: 27px;
}

.player{
  margin-left: 32px;
  box-shadow: 2px 5px 4px #88888839;
}

.player img{
 width: 300px;
height: 256px;
}

.player-name{
  font-size: 28px;
}

.player-about{
  color: #6C6C6C;
  font-size: 16px;
  
 display: flex;
 justify-content: center;
 align-items: center;
 
}

/*--------------- first section end section2 started---------------------- */

.container2{
  display:grid;
  grid-gap: 50px;
  grid-template-columns: repeat(2, 1fr);
  width: 1055px;
  height: 600px;
  
  
}

.highlightes{width: 100%;
  height:80%;
  justify-content: center;
  margin-top:  60px;
  margin-left: 10px;

}
h2{
  font-size: 50px;
  margin-left: 6px;
}

p,h3{margin-left: 6px;

}
h3{
  background-color: rgba(218, 195, 21, 0.674);
  width: 150px;
  margin-top: 33px;
  padding: 20px;
  border-end-start-radius: 50px;
}

.live-match{width:100%;
  height:100%;
  background-color: rgb(42, 165, 114);

}

h3:hover{
  background-color: rgb(228, 50, 18);
  color: white
}

.live-match{
  width:500px ;
  height: 90%;
  margin-top: 25px;
  margin-right: 20px;
}

.live-match img{
  width: 100%;
  height: 100%;
  border-radius: 35px;}

/*///////////////////////////////
Main section end and other section started
---------------------------------------------------- */

footer
{
  
  width: 100%;
  height: 677px;
  display:flex;
  justify-content: center;
  text-align: center;
}

footer img{
width: 483.87px;
height: 110px;
}

.footer-icons{
color: #969BAB;
}


/*-----------------/////--- Media Queries ---/////-------------*/

/*--------------///// mobile devices/////----------------------- */

 @media only screen and (max-width:680px) {
   .header-item{
    width: 360px;
    height: 695px;
   }
   nav{
     width:60%;
   }
   nav li {
     margin: 1.5px;
   }
   .front-item{
     display: flex;
     justify-content: center;
     flex-direction: column;
   }
   .box-1,.box-2 {
    width: 278px;
    height: 138px;
    margin-bottom: 120px;
    margin-left: 50px;
   }
   .box-1 h1{
    width: 278px;
    height: 138px;
    font-size: 36px; 
   }
.box-1 .live
{width: 168px;
  height: 44px;
  font-size: 16px;
}
.box-2{   
  width: 329px;
  height: 259.17px;
margin-bottom: 190px;
}
   .box-2 img{
     width: 80%;
     height: 80%;
   }

   .top-players{
     grid-template-columns: repeat(1, 1fr);
     margin-bottom:90%;
   }
   .player-about{
     display: grid;
   }

   .container2{
     display: grid;
     grid-template-columns: repeat(1, 1fr);
   }
   footer{
     margin-top: 3400px;
     width: 150px;
    height: 80px;
  margin-left: 50px;
font-size: 16px;}
   
   footer img{
    width: 100%;
    height: 100%;
   }

 }

 /* -------------------------------All section style finished */
  

  
